*.iml
**/.gradle
/local.properties
.idea
.DS_Store
**/build
/captures
.externalNativeBuild
jd-gui.cfg
.java-version
ktlint

# release folder
/release

# configurations
configs

# temp data
/tmp-*
*.txt