*.iml
**/.gradle
/local.properties
.idea
.DS_Store
**/build
/captures
.externalNativeBuild
jd-gui.cfg
.java-version
ktlint
.credentials

# release folder
/release

# configurations
configs

# integration test configuration (contains credentials)
**/androidTest/assets/config.json

# temp data
/tmp-*
*.txt